@font-face {
    font-family: CoffeSZ;
    src: url(CoffeeSigns-jE7ly.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;

    font-family: 'CoffeSZ', 'Courier New', Courier, monospace;
}

.outer {
    width: 100vw;
    height: 100vh;

    background: #ddd;
    position: relative;
    padding-top: 320px;

    margin: auto;

    z-index: 0;
}

.inner {
    position: relative;
    margin: auto;

    width: 250px;
    height: 250px;
    line-height: 250px;
    padding-left: 18px;

    background: rgba(150, 150, 150, 0.5);
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border-radius: 50%;
    font-size: 50px;

    animation: turn linear;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

    z-index: 200;
}

.inner::before {
    content: '';

    width: 300px;
    height: 300px;

    left:-25px;
    top: -25px;
    z-index: 1;

    position: absolute;
    background: rgba(201, 201, 201, 0.5);
    border-radius: 50%;

    animation: booom linear;
    animation-duration: .45s;
    animation-iteration-count: infinite;
}

.inner::after {
    content: '';

    width: 500px;
    height: 500px;

    left:-125px;
    top: -125px;
    z-index: 1;

    position: absolute;
    background: rgba(200, 200, 200, 0.5);
    border-radius: 50%;

    animation: boom linear;
    animation-duration: .45s;
    animation-iteration-count: infinite;
}

.inner:hover {
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 50px rgba(255, 0, 0, 1);
    color: red;
}


@keyframes booom {
    0% {
        width: 300px;
        height: 300px;
        left:-25px;
        top: -25px;
    }
    100% {
        width: 400px;
        height: 400px;
        left:-75px;
        top: -75px;
    }
}

@keyframes boom {
    0% {
        width: 300px;
        height: 300px;
        left:-25px;
        top: -25px;
    }
    100% {
        width: 700px;
        height: 700px;
        left:-250px;
        top: -250px;
    }
}

@keyframes turn {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(25deg);
        width:200px;
        height: 200px;
    }

    50% {
        width:250px;
        height: 250px;
    }

    75% {
        width:200px;
        height: 200px;
    }

    85% {
        transform: rotateZ(-720deg);
    }

    100% {
        transform: rotateZ(-735deg);
        width:250px;
        height: 250px;
    }
}
